@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;900&display=swap");
html {
  background-color: #ffffff;
}

::-moz-selection {
  color: #011627;
  background-color: #d82148;
}

::selection {
  color: #011627;
  background-color: #d82148;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 3% 5%;
  background-color: #ffffff;
  line-height: 1.7;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #d82148;
  margin: 0%;
  padding: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
h1 a {
  text-decoration: none;
  color: #d82148;
}
h1 i {
  font-size: 3rem;
  transition: 0.5s;
  transition-timing-function: ease;
}
h1 i:hover {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #d82148;
  border-bottom: solid 2px #d82148;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #011627;
  margin: 0;
}

h4 {
  font-size: 1.2rem;
  font-weight: 900;
  margin: 1% 0;
  color: #d82148;
}
h4 a {
  text-decoration: none;
  color: #d82148;
}

h5 {
  font-size: 1rem;
  margin: 1% 0;
  font-weight: 600;
  color: #011627;
}

.techstack {
  display: flex;
  margin: 0.7rem 0;
}

.bubble {
  margin: 1% 2% 1% 0;
  padding: 1% 2%;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 3%;
  border: solid 1.6px #011627;
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: 900;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cluster {
  margin: 2% 0;
  width: 90%;
  border-bottom: solid 1px #00c1d4;
}

.row {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-bottom: 2rem;
}

.col {
  display: flex;
  flex-direction: column;
  width: 50%;
  float: left;
}

.col:nth-of-type(1) {
  margin-right: 4rem;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
}
.contact h5 {
  font-size: 1rem;
  margin-right: 2rem;
  font-weight: 600;
  color: #011627;
  letter-spacing: 0.1rem;
}
.contact a {
  text-decoration: none;
  font-weight: 600;
  color: #011627;
}
.contact a:hover {
  color: #d82148;
  transition: 0.5s;
  transition-timing-function: ease;
}
.contact i {
  color: #011627;
  margin: 1% 2% 1% 0;
}
.contact i a {
  font-family: "Raleway", sans-serif;
  padding-left: 0.5rem;
}
.contact i span {
  font-family: "Raleway", sans-serif;
  padding-left: 0.5rem;
  font-weight: 400;
}
.contact i:hover {
  color: #d82148;
  transition: 0.3s;
}

.education .cluster {
  padding-bottom: 1rem;
}

.projects a {
  text-decoration: none;
  border-bottom: solid 1.5px #4895ef;
  font-weight: 700;
  color: #4895ef;
}
.projects a:hover {
  color: #3f37c9;
  border-bottom: solid 1.5px #3f37c9;
  transition: 0.3s;
}

.achievements .cluster {
  padding-bottom: 0.5rem;
}
.achievements span a {
  color: #4895ef;
}

.note {
  display: none;
}
.note span {
  color: #d82148;
  font-weight: 900;
}
.note a {
  text-decoration: none;
  color: #4895ef;
  border-bottom: solid 1.5px #4895ef;
}

@media all and (max-width: 480px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .col {
    width: 100%;
  }
  h1 {
    font-size: 2.5rem;
  }
  h1 i {
    font-size: 1.8rem;
  }
  h1 i:hover {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.7rem;
    width: 100%;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.8rem;
  }
  i {
    font-size: 0.7rem;
  }
  i a {
    font-size: 0.7rem;
  }
  i span {
    font-size: 0.7rem;
  }
  body {
    line-height: 1.6;
  }
  .contact h5 {
    margin-right: 1rem;
  }
  .cluster {
    width: 100%;
  }
  .experience {
    width: 100%;
  }
  .achievements {
    margin-bottom: 2rem;
  }
}
@media print {
  html {
    font-size: 18px;
  }
  tr.vendorListHeading {
    background-color: #ffffff !important;
    -webkit-print-color-adjust: exact;
  }
  h1 i {
    visibility: hidden;
  }
  .note {
    display: flex;
    align-self: flex-start;
  }
  .achievements {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=resume_css.css.map */