@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
$base-color: #fff;
$dark-color: #0f0f0f;
$highlight-color: #ff004c;
$black: 900;
$bold: 700;
$regular: 400;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0%;
}
::selection {
	color: $highlight-color;
	background-color: $dark-color;
}
.logo-anim {
	display: block;
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: $dark-color;
	z-index: 1000;
	#bm {
		height: 100vh;
	}
}
#loader {
	transition: 0.5s ease-out;
	pointer-events: none;
}
img {
	display: block;
}
html {
	max-width: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
	background-color: $base-color;
	overflow-x: hidden;
	font-family: "Roboto", sans-serif;
	color: $dark-color;
}
.content-wrapper {
	overflow-x: hidden;
	// position: relative;
}
::-webkit-scrollbar {
	width: 0.5rem;
	background-color: $highlight-color;
}
::-webkit-scrollbar-thumb {
	background-color: $dark-color;
}
.blob1,
.blob2,
.blob3,
.blob4 {
	pointer-events: none;
	svg {
		fill: $highlight-color;
	}
}
.blob1 {
	position: absolute;
	top: -30%;
	left: -15%;
	z-index: -1;
	svg {
		width: 270%;
		height: auto;
	}
}
.blob2 {
	position: absolute;
	bottom: -35%;
	right: 20%;
	z-index: 0;
	svg {
		width: 270%;
		height: auto;
	}
}
.blob3 {
	position: absolute;
	top: 170%;
	left: -10%;
	z-index: 0;
	svg {
		width: 270%;
		height: auto;
	}
}
.blob4 {
	position: absolute;
	bottom: -290%;
	right: 20%;
	z-index: 0;
	svg {
		width: 270%;
		height: auto;
	}
}
h1 {
	font-size: 7rem;
	font-weight: $black;
	margin: 0;
	padding: 0%;
}
h2 {
	font-size: 4rem;
	font-weight: $black;
	margin: 0;
	padding: 0%;
}
p {
	padding: 1rem 0;
	font-size: 1.3rem;
	line-height: 1.5;
	font-weight: $regular;
	a {
		cursor: pointer;
		text-decoration: none;
		color: $highlight-color;
	}
}
h5 {
	font-size: 1.5rem;
	font-weight: $bold;
	margin: 0;
	padding: 0%;
}
h6 {
	font-size: 1rem;
	padding: 1rem 0;
	letter-spacing: 1rem;
	font-weight: $regular;
	text-transform: uppercase;
}

section {
	margin: 0 15%;
	display: flex;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}
section:nth-of-type(3) {
	margin: 0;
	padding: 0 15%;
	color: $base-color;
	background-color: $dark-color;
	::selection {
		color: $dark-color;
		background-color: $highlight-color;
	}
}
section:nth-of-type(4) {
	height: 100%;
	margin: 0;
	padding: 5rem 0;
}
.work {
	z-index: 1;
	h2,
	h6 {
		margin: 0 15%;
		a {
			text-decoration: none;
		}
	}
}
.grid_container,
.grid_container_projects {
	position: relative;
	z-index: 0;
	columns: 2;
	column-gap: 0rem;
	img {
		width: 100%;
		height: auto;
	}
	margin-bottom: 10%;
	.link {
		display: block;
	}
}
#logo {
	justify-content: flex-end;
	align-items: center;
	height: 15vh;
	svg {
		fill: $dark-color;
		width: 7vh;
	}
}
#intro {
	height: 85vh;
}
.img-wrapper {
	background-color: #ff9f1c;
	position: relative;
	width: 100%;
	height: auto;
	object-fit: cover;
	overflow: hidden;
	img {
		transition: 1s;
	}
	.img_title {
		opacity: 0;
		position: absolute;
		bottom: -2%;
		left: 2%;
		z-index: 5;
		transition: 1s ease-in-out;
		h5 {
			font-size: 3rem;
			color: $base-color;
		}
	}
	.overlay {
		position: absolute;
		top: 0%;
		left: 0%;
		z-index: 2;
		height: 100%;
		width: 100%;
		opacity: 0%;
		transition: 1s ease-in-out;
		background-image: linear-gradient(45deg, black, transparent);
	}
	&:hover {
		img {
			transform: scale(1.2);
		}
		.img_title {
			bottom: 2%;
			opacity: 100%;
		}
		.overlay {
			opacity: 50%;
		}
	}
}
.insta-grid {
	columns: 3;
}
.insta {
	// width: 80%;
	padding: 1rem 2rem;
	background-color: $base-color;
	// columns: 3;
}
.insta_container {
	background-color: $dark-color;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	.img-wrapper {
		position: relative;
		width: 100%;
		height: auto;
		object-fit: cover;
		overflow: hidden;
		background-color: $dark-color;
		padding: 2rem 3rem;
		width: auto;
		img {
			height: 80vh;
			width: auto;
		}
		.img_title {
			h5 {
				font-size: 2rem;
				// color: #0f0f0f;
			}
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
}
footer {
	::selection {
		color: $dark-color;
		background-color: $highlight-color;
	}
	.footer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	position: relative;
	width: 100%;
	height: auto;
	bottom: 0;
	padding-top: 5rem;
	background-color: $dark-color;
	color: $base-color;
	.icons {
		display: flex;
		width: 40%;
		justify-content: space-around;
		padding: 2rem 0;
	}
	a {
		color: $highlight-color;
	}
	a i {
		color: $base-color;
		font-size: 2.8rem;
		&:hover {
			color: $highlight-color;
			transition: 0.3s;
		}
	}
	h5 {
		font-size: 1.2rem;
		padding: 1rem 0;
		font-weight: $regular;
	}
	span {
		display: flex;
		justify-content: center;
		font-size: 1rem;
		font-weight: 100;
		background-color: $highlight-color;
		color: $dark-color;
		padding: 0.7rem 0;
	}
}
.blob1 path,
.blob2 path,
.blob3 path,
.blob4 path {
	animation: blob 20s linear infinite;
}
@keyframes blob {
	0% {
		d: path(
			"M34.4,-48.7C43.4,-40.7,48.8,-29.2,53.9,-16.7C59,-4.3,63.7,9,61.1,20.7C58.5,32.4,48.4,42.6,37,48.5C25.6,54.5,12.8,56.1,-2.4,59.4C-17.6,62.7,-35.1,67.6,-47,61.8C-59,56.1,-65.3,39.7,-66.9,24.2C-68.6,8.7,-65.5,-5.8,-61.6,-20.7C-57.7,-35.6,-52.9,-50.8,-42.4,-58.4C-32,-65.9,-16,-65.6,-1.7,-63.3C12.7,-61,25.3,-56.7,34.4,-48.7Z"
		);
	}
	25% {
		d: path(
			"M40.6,-57.4C54.5,-45.9,68.8,-36.4,77.6,-22.2C86.5,-7.9,89.9,11.2,83.4,25.8C76.9,40.4,60.5,50.6,44.9,59.2C29.4,67.9,14.7,75,-1.6,77.3C-17.9,79.5,-35.9,76.8,-50.4,67.8C-64.9,58.8,-75.9,43.5,-78.2,27.6C-80.4,11.6,-73.8,-5.1,-66,-19C-58.1,-32.9,-49,-43.9,-37.8,-56.2C-26.6,-68.5,-13.3,-82.2,0.1,-82.3C13.4,-82.4,26.8,-68.8,40.6,-57.4Z"
		);
	}
	50% {
		d: path(
			"M43.1,-55.3C57.9,-48.5,73.5,-38.7,77.3,-25.5C81.1,-12.2,73.2,4.5,65.2,18.7C57.1,32.9,49,44.6,38.1,55.5C27.2,66.4,13.6,76.7,-2.3,79.8C-18.2,82.9,-36.3,78.9,-51.4,69.3C-66.5,59.8,-78.5,44.6,-79.4,28.8C-80.3,13.1,-70.1,-3.2,-64.1,-20.7C-58.2,-38.2,-56.6,-56.9,-46.6,-65.2C-36.6,-73.6,-18.3,-71.6,-2.1,-68.7C14.1,-65.9,28.2,-62.1,43.1,-55.3Z"
		);
	}
	75% {
		d: path(
			"M36,-47.5C48.5,-40.5,61.8,-32.4,70.2,-19.7C78.6,-7,82.1,10.4,77,24.6C71.8,38.9,58.1,49.9,43.8,61.1C29.5,72.3,14.8,83.7,-1.3,85.5C-17.4,87.3,-34.8,79.5,-44.8,66.9C-54.8,54.4,-57.5,36.9,-62.1,20.6C-66.8,4.3,-73.4,-10.8,-72.4,-26.5C-71.4,-42.1,-62.6,-58.2,-49.3,-64.8C-35.9,-71.5,-18,-68.9,-3.1,-64.6C11.8,-60.3,23.5,-54.4,36,-47.5Z"
		);
	}
	100% {
		d: path(
			"M34.4,-48.7C43.4,-40.7,48.8,-29.2,53.9,-16.7C59,-4.3,63.7,9,61.1,20.7C58.5,32.4,48.4,42.6,37,48.5C25.6,54.5,12.8,56.1,-2.4,59.4C-17.6,62.7,-35.1,67.6,-47,61.8C-59,56.1,-65.3,39.7,-66.9,24.2C-68.6,8.7,-65.5,-5.8,-61.6,-20.7C-57.7,-35.6,-52.9,-50.8,-42.4,-58.4C-32,-65.9,-16,-65.6,-1.7,-63.3C12.7,-61,25.3,-56.7,34.4,-48.7Z"
		);
	}
}

@media all and (max-width: 480px) {
	html,
	body {
		max-width: 100%;
		overflow-x: hidden;
	}
	.blob1,
	.blob2,
	.blob3,
	.blob4 {
		svg {
			width: 200%;
			height: auto;
		}
	}
	.blob1 {
		top: -10%;
		left: -40%;
	}
	.blob2 {
		bottom: -50%;
		right: -7%;
	}
	.blob3 {
		top: 185%;
		left: -50%;
	}
	.blob4 {
		display: none;
		bottom: -720%;
		right: 0%;
	}
	section {
		margin: 5%;
	}
	section:nth-of-type(3) {
		margin: 0;
		padding: 0 5%;
	}
	#logo {
		height: 6vh;
		svg {
			height: 6vh;
		}
	}
	h1 {
		font-size: 3.3rem;
	}
	h2 {
		font-size: 2rem;
	}
	h5,
	p {
		font-size: 1rem;
	}
	h6 {
		font-size: 0.7rem;
		letter-spacing: 0.5rem;
	}
	section:nth-of-type(4) {
		padding: 2rem 0;
	}
	.work {
		h2,
		h6 {
			margin: 0 5%;
		}
	}
	.grid_container,
	.grid_container_projects {
		columns: 1;
	}
	.grid_container,
	.grid_container_projects {
		column-gap: 0;
		margin: 0;
		margin-bottom: 10%;
		img {
			margin: 0;
			padding: 0;
		}
		.img-wrapper {
			.img_title {
				h5 {
					font-size: 2rem;
				}
			}
		}
	}
	.insta_container {
		.img-wrapper {
			columns: 1;
			padding: 1rem 0;
		}
	}
	footer {
		padding: 0;
		.footer {
			padding: 1rem 0;
			h5 {
				margin: 1rem 0;
				padding: 0;
				font-size: 1rem;
			}
		}
		.icons {
			width: 50%;
			margin: 1rem 0;
			padding: 0;
			i {
				font-size: 2rem;
			}
		}
		span {
			font-size: 0.8rem;
		}
	}
}
